<h1> Post a new song! </h1>
<hr/>

<% if @songs.errors.any? %>
  <div>
    <strong>Some issues with your inputs, please fix them:</strong>
    <ul>
      <% @songs.errors.full_messages.each do |songs| %>
        <li><%= songs %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form class="form-horizontal" method="post" action="/songs">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Title:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputEmail3" name="title" value="<%= @songs.title %>" placeholder="Enter song title...">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Author:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputPassword3" name="author" value="<%= @songs.author %>" placeholder="Enter author ...">
    </div>
  </div>
   <div class="form-group">URL:</label>
    <div class="col-sm-10">
      <input type="url" class="form-control" id="inputPassword3" name="url" value="<%= @songs.url %>" placeholder="Enter URL...">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>


