<h1><%= @songs.title %></h1>

<p>
  Author: <%= @songs.author %>
</p>

<p>
  <%= @songs.url  %>
</p>

<p>
  Record created at:<%= @songs.created_at %>
</p>

<hr/>
<a href="/messages">Back to All Songs</a>